**Update**
1st version 14:39 Sep,24th Zichun Wang

**3 steps:**
1: read data BAC and GOOG from 2010-09-24 to 2020-09-24
2: other operations

In [2]:
#import necessary libraries
import qntutl1 as q
import numpy as np
#Each time you want to create a new project, you need to rename the qntutl1.py file.

In [5]:
data = q.get_data('BAC','2000-9-24','2019-9-24')
print(data.head())
print(data.tail())
data.to_excel("BAC_ver1.xlsx")

[*********************100%***********************]  1 of 1 completed
                Open      High       Low     Close  Adj Close    Volume Source
Date
2000-09-25  27.59375  28.09375  27.37500  27.50000  16.507301   8120600  Yahoo
2000-09-26  27.37500  27.71875  26.84375  26.90625  16.150898   9646800  Yahoo
2000-09-27  26.93750  27.06250  25.93750  26.34375  15.813237  10652000  Yahoo
2000-09-28  26.56250  27.18750  26.09375  27.00000  16.207170   8149800  Yahoo
2000-09-29  26.62500  26.90625  26.00000  26.18750  15.719452   9287600  Yahoo
                 Open       High        Low      Close  Adj Close     Volume  \
Date
2019-09-17  29.850000  30.020000  29.590000  29.940001  29.180439   48284900
2019-09-18  29.770000  30.150000  29.549999  30.000000  29.238918   66640400
2019-09-19  30.000000  30.100000  29.750000  29.820000  29.063484   43035700
2019-09-20  29.969999  30.129999  29.570000  29.590000  28.839319  167269000
2019-09-23  29.309999  29.620001  29.170000  29.520000  28.771095   52048300

           Source
Date
2019-09-17  Yahoo
2019-09-18  Yahoo
2019-09-19  Yahoo
2019-09-20  Yahoo
2019-09-23  Yahoo

In [6]:
data = q.get_data('GOOG','2000-9-24','2019-9-24')
print(data.head())
print(data.tail())
data.to_excel("GOOG_ver1.xlsx")

[*********************100%***********************]  1 of 1 completed
                 Open       High        Low      Close  Adj Close    Volume  \
Date
2004-08-19  49.813286  51.835709  47.800831  49.982655  49.982655  44871300
2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942800
2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342800
2004-08-24  55.412300  55.591629  51.591621  52.239193  52.239193  15319700
2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232100

           Source
Date
2004-08-19  Yahoo
2004-08-20  Yahoo
2004-08-23  Yahoo
2004-08-24  Yahoo
2004-08-25  Yahoo
                   Open         High          Low        Close    Adj Close  \
Date
2019-09-17  1230.400024  1235.000000  1223.689941  1229.150024  1229.150024
2019-09-18  1227.510010  1235.609985  1216.530029  1232.410034  1232.410034
2019-09-19  1232.060059  1244.439941  1232.020020  1238.709961  1238.709961
2019-09-20  1233.119995  1243.319946  1223.079956  1229.930054  1229.930054
2019-09-23  1226.000000  1239.089966  1224.170044  1234.030029  1234.030029

             Volume Source
Date
2019-09-17   955100  Yahoo
2019-09-18  1135100  Yahoo
2019-09-19   996000  Yahoo
2019-09-20  2270000  Yahoo
2019-09-23  1062400  Yahoo